* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, rgb(170, 170, 255) 16.62%, rgb(219, 218, 218) 85.61%);
}

.cabeçalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabeçalho-menu {
    display: flex;
    gap: 150px;
}

.cabeçalho-menu-item {
    color: #000000
}