* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, rgb(170, 170, 255) 16.62%, rgb(219, 218, 218) 85.61%);
}

.cabeçalho-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 3vh;
    background: rgb(230, 230, 230);
}

/* Mostar a mãozinha do mouse */
.cabeçalho-menu-mobile{
    display: none;
    cursor: pointer;
}

.cabeçalho-menu-mobile div {
    width: 32px;
    height: 2px;
    background: black;
    margin: 8px;
}

.cabeçalho-menu-lista {
    list-style: none;
    display: flex;
    gap: 150px;
}

.cabeçalho-menu-lista-item {
    color: #000000
}

.conteudo-principal {
    display: flex;
    justify-content: center;
    padding: 20px 0px 20px 0px;
}

.conteudo-principal-imagem {
    height: auto;
    width: 100%;
}

.conteudo-sobre-nos{
    padding-top: 50px;
}

.conteudo-sobre-nos-escrito {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.conteudo-sobre-nos-escrito-nomes {
    text-align: center;
}

.conteudo-sobre-nos-escrito-data {
    text-align: center;
}

.conteudo-sobre-nos-escrito-descricao {
    text-align: center;
    padding: 10px 50px 10px 50px;
}

/* Quando menor que 999px */
@media (max-width: 999px){
    body {
        /* Se objeto sai do body, fica escondido */
        overflow-x: hidden;
    }


    .cabeçalho-menu-lista {
        position: absolute;
        top: 10vh;
        right: 0;
        width: 50vw;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding-top: 30px;
        background: rgb(230, 230, 230);
        /* Move objeto para fora da tela */
        transform: translateX(100%);
        /* Chegada suave */
        transition: transform 0.3s ease-in;
    }

    .cabeçalho-menu-lista li{
        margin-left: 0;
        opacity: 0;
    }

    .cabeçalho-menu-mobile {
        display: block;
        padding-left: 10vh;
    }
}

.cabeçalho-menu-lista.active {
    transform: translateX(0);
}

@keyframes cabeçalho-menu-lista-item-transicao {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}