header{
    padding: 40px 0px;
    display: flex;
    justify-content: center;
}

.css-bg-01 {
    position: absolute;
    width: 1232px;
    height: 948px;
    left: -150px;
    top: -200px;
    z-index: -1;
}

.css-bg-02{
    position: absolute;
    width: 1080px;
    height: 857px;
    left: 991.5px;
    top: 1295px;
    z-index: -1;
}

.css-bg-03{
    position: absolute;
    width: 1049,5px;
    height: 1000px;
    left: -495px;
    top: 2204px;
    z-index: -1;
}

#id-fotos .item{
    padding: 0px;
    margin-bottom: 20px;
    opacity: 0.2;
    -webkit-transform: scale3d(0.8,0.8,1);
    transform: scale3d(0.8,0.8,1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#id-fotos .owl-item.active.center .item{
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.owl-carousel .owl-item img{
    max-width: 450px;
    margin: 0 auto 20px;
}

.css-navbar {
    height: 47px;
    width: 725px;
    padding: 10px;
    border-radius: 8px;
}

.css-texto{
    color: white;
}

.css-texto-tamanho-limite{
    max-width: 70%;
}

.css-fonte-titulo-principal {
    font-family: 'Pacifico', cursive;
}

.css-fonte-titulo {
    font-family: Work Sans;
    font-size: 20px;
    font-weight: bold;
    line-height: 23px;
    letter-spacing: -0.02em;
    color: #12363A;
}

.css-fonte-texto- {
    font-family: Work Sans;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.02em;
    color: #12363A;
}


@media (max-width: 991.98px){
    header{
        padding: 0px;
        display: inline;
    }

    .css-navbar {
        border-radius: 0px;
        height: auto;
        width: auto;
    }

    .css-texto-tamanho-limite{
        max-width: 100%;
    }

    .css-bg-01 {
        position: absolute;
        width: 1232px;
        height: 948px;
        left: -181px;
        top: -233px;
        z-index: -1;
    }

    .css-bg-02 {
        position: absolute;
        width: 1080px;
        height: 857px;
        left: 200px;
        top: 2150px;
        z-index: -1;
    }

    .css-bg-03{
        position: absolute;
        width: 1049,5px;
        height: 800px;
        left: -595px;
        top: 3250px;
        z-index: -1;
    }

    .css-navbar{
        border-radius: 0px;
        width: auto;
    }
}