header{
    padding: 40px 0px;
    display: flex;
    justify-content: center;
}

body{
    overflow-x: hidden; 
}

.form{
    width: 360px;
    padding: 4rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

.form_div{
    position: relative;
    height: 48px;
    margin-bottom: 1.5rem;
}

.form_input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    border: 1px solid #DADCE0;
    border-radius: .5rem;
    outline: none;
    padding-left: 1rem;
    background: none;
    z-index: 1;
}

.form_label{
    position: absolute;
    left: 1rem;
    top: .75rem;
    padding: 0 .25rem;
    background: #ffffff;
    color: #80868B;
    font-size: 1rem;
    transition: .3s;
}

.form_button{
    width: 50%;
    display: block;
    margin: auto;
    padding: .75rem 2rem;
    outline: none;
    border: none;
    background-color: #29A2B2;
    color: #ffffff;
    font-size: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: .3s;
    font-family: Work Sans;
    font-weight: bold;
}

.button_position{
    text-align: center;
}

.form_button:hover{
    background-color:#12363A;
    box-shadow: 0 10px 36px rgba(0, 0, 0, .15);
}

.form_input:focus + .form_label{
    top: -.5rem;
    left: .8rem;
    color: #12363A;
    font-size: .75rem;
    font-weight: 500;
    z-index: 10;
}

.form_input:not(:placeholder-shown).form_input:not(:focus) + .form_label{
    top: -.5rem;
    left: .8rem;
    font-size: .75rem;
    font-weight: 500;
    z-index: 10;
}

.form_input:focus{
    border: 1.5px solid #12363A;
}

.css-bg-01 {
    position: absolute;
    width: 1232px;
    height: 948px;
    left: -150px;
    top: -200px;
    z-index: -1;
}

.css-bg-02{
    position: absolute;
    width: 1080px;
    height: 857px;
    left: 991.5px;
    top: 1295px;
    z-index: -1;
}

.css-bg-03{
    position: absolute;
    width: 1049,5px;
    height: 1000px;
    left: -495px;
    top: 2204px;
    z-index: -1;
}

.css-bg-04 {
    position: absolute;
    width: 1111px;
    height: 857px;
    left: 1028px;
    top: 2976px;
    z-index: -1;
}

#id-fotos .item{
    padding: 0px;
    margin-bottom: 20px;
    opacity: 0.2;
    -webkit-transform: scale3d(0.8,0.8,1);
    transform: scale3d(0.8,0.8,1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#id-fotos .owl-item.active.center .item{
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.owl-carousel .owl-item img{
    max-width: 450px;
    margin: 0 auto 20px;
}

.css-navbar {
    height: 47px;
    width: 725px;
    padding: 10px;
    border-radius: 8px;
}

.css-texto{
    color: white;
}

.css-texto-tamanho-limite{
    max-width: 70%;
}

.css-fonte-titulo-principal {
    font-family: 'Pacifico', cursive;
}

.css-fonte-titulo {
    font-family: Work Sans;
    font-size: 20px;
    font-weight: bold;
    line-height: 23px;
    letter-spacing: -0.02em;
    color: #12363A;
}

.css-fonte-h2 {
    font-family: Work Sans;
    font-weight: bold;
    line-height: 23px;
    letter-spacing: -0.02em;
    color: #12363A;
}


@media (max-width: 991.98px){
    header{
        padding: 0px;
        display: inline;
    }

    .css-navbar {
        border-radius: 0px;
        height: auto;
        width: auto;
    }

    .css-texto-tamanho-limite{
        max-width: 60%;
    }

    .css-bg-01 {
        position: absolute;
        max-width: 750x;
        height: 948px;
        left: -520px;
        top: -233px;
        z-index: -1;
    }


    .css-bg-02 {
        position: absolute;
        width: 1080px;
        height: 857px;
        left: 200px;
        top: 2150px;
        z-index: -1;
    }

    .css-bg-03{
        position: absolute;
        width: 1049,5px;
        height: 800px;
        left: -595px;
        top: 3250px;
        z-index: -1;
    }

    .css-bg-04 {
        position: absolute;
        width: 1080px;
        height: 857px;
        left: 200px;
        top: 4450px;
        z-index: -1;
    }

    .css-navbar{
        border-radius: 0px;
        width: auto;
    }
}